p {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    text-align: center;
    
  }
  h2{
      text-align: center;
      box-shadow: 3px 4px 5px ;
      width: 100%;
  }
  p{
      text-shadow: 2px 3px 4px ;
  }